@{
    ViewBag.Title = "Jabardasth";
}

<h2>Jabardasth</h2>

<iframe src="http://www.youtube.com/embed/videoseries?list=PLhFZrcu-dWgm0dHk5JcPNbxoMqMjbSVSO"
        width="100%" height="500" frameborder="0"></iframe>
<script>

</script>
