.menu {
    border: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font: 67%;
    font-size: 14px;
    font-weight: bold;
}

    .menu ul {
        background-color: #B50B1C;
        height: 30px;
        list-style: none;
        margin: 0;
        padding: 0;
        border-radius: 15px;
    }

    .menu li {
        float: left;
        padding: 0px 0px 0px 15px;
    }

        .menu li a {
            color: #ffffff;
            display: block;
            font-weight: normal;
            line-height: 30px;
            margin: 0px;
            padding: 0px 25px;
            text-align: center;
            text-decoration: none;
        }

            .menu li a:hover {
                background: #c60;
                color: #000;
                text-decoration: none;
                -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
                -moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
                box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
            }

    .menu ul li:hover a {
        background: #c60;
        color: #000;
        text-decoration: none;
    }

    .menu li ul {
        display: none;
        height: auto;
        padding: 0px;
        margin: 0px;
        border: 0px;
        position: absolute;
        width: 200px;
        z-index: 200;
    }

    .menu li:hover ul {
        display: block;
    }

    .menu li li {
        display: block;
        float: none;
        margin: 0px;
        padding: 0px;
        width: 200px;
        background: #F93;
    }

    .menu li:hover li a {
        background: none;
    }

    .menu li ul a {
        display: block;
        height: 30px;
        font-size: 12px;
        font-style: normal;
        margin: 0px;
        padding: 0px 10px 0px 15px;
        text-align: left;
    }

        .menu li ul a:hover, .menu li ul li:hover a {
            border: 0px;
            color: #000;
            text-decoration: none;
            background: #C60;
            -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
            -moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
            box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
        }
        
            .active {
                background: #c60;
                color: #000;
                text-decoration: none;
                -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
                -moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
                box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
            }