

<div id="search-results-block">
    @*news*@
    <div class="ChannelBlock">
        <table style="width: inherit">
            <tr style="display: inline; width: inherit;">
                @*<td class="FirstAndLastBlock">
                        T<br />
                        V<br />
                        9
                    </td>*@
                <td id="tv9" style="width:912.5px; height: 140px"></td>
                <td class="More" onclick="LoadMoreVideos('tv9telugu','tv9')">
                    <br/>
                    <a> <img src="~/Images/more.png" /></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="ChannelBlock">
        <table style="width: inherit">
            <tr style="display: inline; width: inherit">
                <td class="FirstAndLastBlock">
                    A<br />
                    B<br />
                    N
                </td>
                <td id="abntv" style="width: 912.5px"></td>
                <td class="More">
                    M<br />
                    O<br />
                    R<br />
                    E
                </td>
            </tr>
        </table>
    </div>
    <div class="ChannelBlock">
        <table style="width: inherit">
            <tr style="display: inline; width: inherit">
                <td class="FirstAndLastBlock">
                    N<br />
                    T<br />
                    V
                </td>
                <td id="ntv" style="width: 912.5px"></td>
                <td class="More">
                    M<br />
                    o<br />
                    r<br />
                    e
                </td>
            </tr>
        </table>
    </div>
    <div class="ChannelBlock">
        <table style="width: inherit">
            <tr style="display: inline; width: inherit">
                <td class="FirstAndLastBlock">
                    T<br />
                    V<br />
                    5
                </td>
                <td id="tv5" style="width: 912.5px"></td>
                <td class="More">
                    M<br />
                    O<br />
                    R<br />
                    E
                </td>
            </tr>
        </table>
    </div>
    <div class="ChannelBlock">
        <table style="width: inherit">
            <tr style="display: inline; width: inherit">
                <td class="FirstAndLastBlock">
                    E<br />
                    T<br />
                    V<br />
                </td>
                <td id="etvNews" style="width: 912.5px"></td>
                <td class="More">
                    M<br />
                    O<br />
                    R<br />
                    E
                </td>
            </tr>
        </table>
    </div>
    <div class="ChannelBlock">
        <table style="width: inherit">
            <tr style="display: inline; width: inherit">
                <td class="FirstAndLastBlock" style="font-size: 18px">
                    T<br />
                    N<br />
                    e<br />
                    w<br />
                    s
                </td>
                <td id="tNews" style="width: 912.5px"></td>
                <td class="More">
                    M<br />
                    O<br />
                    R<br />
                    E
                </td>
            </tr>
        </table>
    </div>
    <div class="ChannelBlock">
        <table style="width: inherit">
            <tr style="display: inline; width: inherit">
                <td class="FirstAndLastBlock" style="font-size: 13px">
                    s<br />
                    t<br />
                    u<br />
                    d<br />
                    i<br />
                    o<br />
                    N
                </td>
                <td id="studioN" style="width: 912.5px"></td>
                <td class="More">
                    M<br />
                    O<br />
                    R<br />
                    E
                </td>
            </tr>
        </table>
    </div>
    @* <div id="tv9">
        </div>
        <div id="tv5">
        </div>
        <div id="ntv">
        </div>
        <div id="abntv">
        </div>
        <div id="expresstv">
        </div>
        <div id="6tv">
        </div>
        <div id="tNews">
        </div>
        <div id="CVRNewsOfficial">
        </div>
        <div id="TNNTelangana">
        </div>
        <div id="v6NewsTelugu">
        </div>
        <div id="tv5money">
        </div>*@
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //news
        // SearchYouTube1('tv9telugu', 'tv91');
        //SearchYouTube1('tv9telugu', 'tv92');
        SearchYouTube1('tv9telugu', 'tv9');
        SearchYouTube1('tv5newschannel', 'tv5');
        //        SearchYouTube('Tv5money', 'tv5money');
        SearchYouTube1('ntvteluguhd', 'ntv');
        SearchYouTube1('abntelugutv', 'abntv');
        SearchYouTube1('etv2india', 'etvNews');
        SearchYouTube1('studionchannel', 'studioN');
        //        SearchYouTube('expresstv', 'expresstv');
        //        //SearchYouTube('mangonews', 'mangoNews');
        //        //SearchYouTube('TV1AP','tv1');
        //        SearchYouTube('6tv', '6tv');
        SearchYouTube1('TNews', 'tNews');
        //        SearchYouTube('CVRNewsOfficial', 'CVRNewsOfficial');
        //        SearchYouTube('TNNTelangana', 'TNNTelangana');
        //        SearchYouTube('V6NewsTelugu', 'v6NewsTelugu');
    });

</script>
