<div id="search-results-block">
    @*news*@
    <div class="ChannelBlock">
        <table style="width: inherit">
            <tr style="display: inline; width: inherit">
                <td class="FirstAndLastBlock">
                </td>
                <td id="itsStandbyTv" style="width: 912.5px">
                </td>
                <td class="More">
                    M<br />
                    O<br />
                    R<br />
                    E
                </td>
            </tr>
        </table>
    </div>
    <div class="ChannelBlock">
        <table style="width: inherit">
            <tr style="display: inline; width: inherit">
                <td class="FirstAndLastBlock">
                </td>
                <td id="iqlikchannel" style="width: 912.5px">
                </td>
                <td class="More">
                    M<br />
                    O<br />
                    R<br />
                    E
                </td>
            </tr>
        </table>
    </div>
    <div class="ChannelBlock">
        <table style="width: inherit">
            <tr style="display: inline; width: inherit">
                <td class="FirstAndLastBlock">                    
                </td>
                <td id="ShortFilmCube" style="width: 912.5px">
                </td>
                <td class="More">
                    M<br />
                    o<br />
                    r<br />
                    e
                </td>
            </tr>
        </table>
    </div>
    <div class="ChannelBlock">
        <table style="width: inherit">
            <tr style="display: inline; width: inherit">
                <td class="FirstAndLastBlock">                  
                </td>
                <td id="RunwayReel" style="width: 912.5px">
                </td>
                <td class="More">
                    M<br />
                    O<br />
                    R<br />
                    E
                </td>
            </tr>
        </table>
    </div>
    <div class="ChannelBlock">
        <table style="width: inherit">
            <tr style="display: inline; width: inherit">
                <td class="FirstAndLastBlock">                   
                </td>
                <td id="1takemedia" style="width: 912.5px">
                </td>
                <td class="More">
                    M<br />
                    O<br />
                    R<br />
                    E
                </td>
            </tr>
        </table>
    </div>
    <div class="ChannelBlock">
        <table style="width: inherit">
            <tr style="display: inline; width: inherit">
                <td class="FirstAndLastBlock" style="font-size: 18px">                   
                </td>
                <td id="smallfilmz" style="width: 912.5px">
                </td>
                <td class="More">
                    M<br />
                    O<br />
                    R<br />
                    E
                </td>
            </tr>
        </table>
    </div>
    <div class="ChannelBlock">
        <table style="width: inherit">
            <tr style="display: inline; width: inherit">
                <td class="FirstAndLastBlock" style="font-size: 13px">                    
                </td>
                <td id="TheTMCPictures" style="width: 912.5px">
                </td>
                <td class="More">
                    M<br />
                    O<br />
                    R<br />
                    E
                </td>
            </tr>
        </table>
    </div>    
</div>
<script type="text/javascript">
    $(document).ready(function () {

        SearchYouTube1('itsStandbyTv', 'itsStandbyTv');
        SearchYouTube1('iqlikchannel', 'iqlikchannel');
        SearchYouTube1('ShortFilmCube', 'ShortFilmCube');
        SearchYouTube1('RunwayReel', 'RunwayReel');
        SearchYouTube1('1takemedia', '1takemedia');
        SearchYouTube1('smallfilmz', 'smallfilmz');
        SearchYouTube1('TheTMCPictures', 'TheTMCPictures');
        //SearchYouTube1('UCg0LKcqtwygYz0e_ZdOQgIw', 'shrtFilmsFix')
    });
</script>
